

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-one{
    display: none;
}

.open-close{
    display: none; 
}
/*Log-section*/
h1{
    font-size: 2rem;
}

/* a{
    font-weight: bold;
} */

/*Media Queries*/
@media(max-width:770px){

    #close{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position:fixed;
        transition: top 2s;
        left: 0;
        top: 0px;
        background-color:darkgray;
        width: 100%;
        height:100vh; 
    }

    #open{
        display:none;
        flex-direction: column;
        align-items: center;
        position:fixed;
        transition: top 2s;
        top: 0;
        left:0;
        height: 100vh;
        background-color:black;
        width: 100%;
    }

    .open-close{
        display: block;
    }

    .links-one{
        display: block;
    }
    

    .links-two{
        display: none;
    }
    
}